.news-img img {
	width: 523px;
	height: 348px;
}
.fix-slide img {
	width: 1141px;
	height: 800px;
}
.images img {
	width: 263px;
	height: 174px;
}
.popular-post-img img {
	width: 230px;
	height: 163px;
}
.today-match-team img {
	width: 80px;
	height: 80px;
}