.form-group button {
	margin-top: 10px;
	margin-left: 20px;
}
.fix input{
	width: 500px;
	margin-top: 10px;
}
.fix label{
	padding-top: 10px;
}
.fix-option{
	width: 500px;
}
.fix-ckeditor {
	width: 900px;
}
#cke_editor{
	width: 1200px;
}
.header-container {
	background-color: #343a40;
}
.fixradio input {
	display: flex;
}
